@using RedditNet.Models
@model RedditNet.Models.PostModel.PostCreateModel

@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<h1><a href="@Url.RouteUrl("ShowSubPosts", new {subId = Model.SubId, start = 0})">Back to posts</a></h1>

<form method="post" action="/@Model.SubId/posts/create">
    @Html.Label("UserId", "User ID")
    <br />
    @Html.TextBox("UserId", Model.UserId, new { @class = "form-control" })
    <br /><br />
    @Html.Label("SubId", "Sub ID")
    <br />
    @Html.TextBox("SubId", Model.SubId, new { @class = "form-control"
    })
    <br /><br />
    @Html.Label("Title", "Title here")
    <br />
    @Html.TextBox("Title", Model.Title, new { @class = "form-control" })
    <br />
    @Html.Label("Text", "Text here")
    <br />
    @Html.TextBox("Text", Model.Text, new { @class = "form-control" })
    <br />
    <button type="submit">Create Post</button>
</form>
